body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.header-content {
    margin-top: 20px;
}

.profile-picture img {
    max-width: 200px;
    border-radius: 50%;
}

.section {
    margin-bottom: 40px;
    text-align: left;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
